.ControlPanel {
	display: flex;
	& > div {
		& > .WaveControl {
			margin-bottom: 10px;
		}
		& > button {
			margin-left: 80px;
			padding: 10px 20px;
			border: none;
			color: white;
			background-color: rgb(26, 179, 64);
			font-size: 20px;
			font-weight: bold;
			cursor: pointer;
		}
	}
}